{% extends 'base.html' %}
{% block content %}
<div class="info-page">
<h1>about</h1>

<p>mun_fases (otherwise known as 'muf') is a small project where I post a daily collage including the day's lunar phase, a <span class="special">mirror s</span>elfie of a cutie, and other images.</p>

<h1>concept</h1>

<p>As far <span class="special">as</span> inspirations go, I started posting these pictures in <span class="special">mid</span>-2018 when trying to get in better touch with mood swings and my menstrual cycle.</p>

<p>I don't know that there's a physical <span class="special">connection</span> between a person's hormone levels and the phases <span class="special">of</span> the moon, but I do know that there is at the very least a conceptual connection there. Anyway, I was looking to get in better touch with my daily moods, so started posting these images daily.</p>

<p>This project is also a consideration of how <span class="special">people</span> relate to astrology. I don't know *that* much about the subject, but in contemplative or confusing moments, I find myself thinking of myself and my relation to my surroundings through its scope. I have a sun and moon in sagittarius, <span class="special">with</span> libra ascending. What does this mean to me? I'm not quite sure, but I think it's interesting that I find it interesting. I like how it combines <span class="special">structure</span> with subjectivity. It inspires me to drink more water<span class="special">,</span> it makes me think about "the elements", aka, <span class="special">every</span>thing solid that I might otherwise not think about.</p>

<h1>methods</h1>

<p>Most of non-selfie images I use are graciously donated by my boyfriend, who likes collecting things (like photographs of <span class="special">texture</span>s seen around). Some of them are also taken by me, and others are donated by other friends.</p>

<p>The majority of selfies are images that I request to use (mostly by scrolling through #mirrorselfie and #reflection tags on instagram). Some people are ok with me using their photos, some people are enthusi<span class="special">as</span>tically ok with it, some people don't respond (because we all get r<span class="special">an</span>dom comments on our photos sometimes, and who has time for that), some people would rather that I don't include their photos, and some people like my request without responding.</p>

<p>Starting out, I used <a href="https://www.gimp.org/" target="_blank">Gimp</a> to make my posts. It's a really great piece of open-source image-editing software. If you want a free <span class="special">alternative</span> to photoshop, I'd recommend it. </p>

<p>After a month or so, I started building a web app using <a href="https://www.djangoproject.com/" target="_blank">Django</a>, the <a href="https://pillow.readthedocs.io/en/5.3.x/" target="_blank">python image library (PIL)</a>, and <a href="https://github.com/LevPasha/Instagram-API-python" target="_blank">Lev Pasha's python port of an unofficial instagram API</a> in an effort to better organize the photos and automate the posts. It's helpful in terms of keeping track of which photos people have said I can use. It's still a work in progress, and pretty specified to the task at hand and probably not very useful to anyone else, but you can feel free to check out the <a href="https://www.github.com/spacerest/mun-fase-editor" target="_blank">github repo</a> if you're interested in making a similar project.</p>



<h1>findings and unexpected challenges</h1>

<p>I've learned a few things during this <span class="special">experience</span>.</p>
<ul>
    <li>My favorite part of this project is asking people if I can use their mirror selfies. No matter if they say "yes, please" or "no, thanks", it is the most interesting part <span class="special">of</span> this project for me.</li>
    <li>The new moon versus the full moon: how can I distinguish between the two? I have been really reluctant to post new moon images where there is no reference to a moon shape. Maybe I should take these days off, or leave the mirror selfie out of these posts.</li>
    <li>Once someone has agreed to let me use their photo, I suddenly feel a sense of responsibility towards the participant. I don't want to experiment with aesthetically "unpleasing" foreground and background images when someone else's face is involved.</li>
    <li>Making an image editing platform is challenging. I feel much more respect towards image editing software than I did previously. The little webapp that I use is super basic (I can't even move images around in relation to each other at this point -- they are basically stuck how I've uploaded them). Of course, having these limitations built into the platform is also a blessing, since only some foreground/background images will fit with a given mirror selfie (unless I jump through some loops and workarounds), and similarly, certain mirror selfies will only work with certain moon phases.</li>

</ul>

<h1>future</h1>
<p>I don't know where I want to go with this project, but I will keep posting pictures until I've reached a year of posts. At that point, I'll re-evaluate and decide whether the project has reached it's natural end or if it still has life. Perhaps we will find it a new direction.</p>
<p>If you have any thoughts or suggestions for the future of this project, please reach out to me by dm'ing me on instagram. Please also check out <a href="/participate">how to participate</a>.</p>
<p>For now, here are a couple small goals I have for mun_fases:</p>
<ul>
    <li>write more interesting captions</li>
    <li>experiment with gradually changing the theme of the images (like these accounts which move slowly from one color palette to another over time)</li>
    <li>write some daily posts about my moods (maybe unrelated to this project)</li>
    <li>try something besides mirror selfies (i.e. pictures people take of their shadows... harder to find, though, and some<span class="special">time</span>s so beautiful!)</li>
    <li>update this platform so that others can submit images on here / participate on other ways</li>

</ul>
</div>


{% endblock %}
