{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>e d i t</h1>
<div class="container flex-parent">
    <div class="sub-container flex-parent">
        <form method='POST' class="flex-child full-width">
            {% csrf_token %}
            <input class="button" type="submit" value="save current image" name="save-image"/>
            {{ saved_image_form.as_p }}
        </form>
        <div class="open-cv-container flex-child" style=
        "background-image: url({{ MEDIA_URL  }}{{ preview_image.image }});
         background-size: cover;">
        </div>
            <form method='POST' class="flex-child">
                {% csrf_token %}
                {{ preview_form.as_p }}
                <input class="button" type="submit" value="update preview image" name="color-values"/>
            </form>
        </div>

        <div class="sub-container flex-child">
       <h1>Choose the mirror selfie:</h1>
        {% if selfie_images %}
        <form method="post" class="img-group-container">
            {% csrf_token %}
            {% for selfie_image in selfie_images %}
            <label class="img-select" for='selfie-{{ selfie_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ selfie_image.thumbnail }});">
                <input type="submit" value="{{ selfie_image.id }}" name="selfie-selection"/>
            </label>
            {% endfor %}
            </form>
        {% else %}
        <p>please go <a href="{% url 'image_library' %}">upload some images.</a></p>
        {% endif %}
    </div>
    <div class="sub-container flex-child">
       <h1>Texture images</h1>
       <h2>Choose the moon foreground:</h2>
        {% if texture_images %}
            <form method="post" class="img-group-container" name="foreground">
            {% csrf_token %}
            {% for texture_image in texture_images %}
                <label class="img-select" for='foreground-{{ texture_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ texture_image.thumbnail }});">
                <input type="submit" value="{{ texture_image.id }}" name="foreground-selection"/>
            </label>
            {% endfor %}
            </form>
        {% else %}
        <p>please go <a href="{% url 'image_library' %}">upload some images.</a></p>
        {% endif %}

        <h2>Choose the background:</h2>
        {% if texture_images %}
            <form method="post" class="img-group-container" name="texture">
            {% csrf_token %}
            {% for texture_image in texture_images %}
                <label class="img-select" for='texture-{{ texture_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ texture_image.thumbnail }});">
                <input type="submit" value="{{ texture_image.id }}" name="background-selection"/>
            </label>
            {% endfor %}
            </form>
        {% else %}
        <p>please go <a href="{% url 'image_library' %}">upload some images.</a></p>
        {% endif %}
        </div>
        <div class="sub-container flex-child">
        <h1>Choose the moon phase template:</h1>
        {% if moon_images %}
            <form method="post" class="img-group-container">
            {% csrf_token %}
            {% for moon_image in moon_images %}
            <label class="img-select" for='moon-{{ moon_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ moon_image.thumbnail}});">
                <input type="submit" value="{{ moon_image.id }}" name="moon-selection"/>
            </label>
            <span>{{ moon_image.percent_illuminated }}% {{ moon_image.moon_state }}</span>
            {% endfor %}
            </form>
        {% else %}
            <p>please go <a href="{% url 'image_library' %}">upload some images.</a></p>
        {% endif %}
    </div>


    </div>
{% endblock %}
