{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="sub-container">
<h1>create</h1>
<p>to make a new collage, please select an image for each of the following:</p>
        <div class="container flex-parent-nowrap">
            <a class="button" href="#moon">moon phase</a>
            <a class="button" href="#selfies">selfie</a>
            <a class="button" href="#foreground">foreground</a>
            <a class="button" href="#background">background</a>
        </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="height: 0px; width: 0px; display: block;">
  <filter id="myblurfilter" width="130%" height="130%">
  	<feGaussianBlur stdDeviation="9" result="blur" />
  </filter>
</svg>


<div class="container flex-parent">
    <div class="sub-container flex-parent">
        <p> make any edits to your collage that you'd like, then click "save current image" when you're finished.</p>
        <form method='POST' class="flex-child full-width">
            {% csrf_token %}
            <input class="button" type="submit" value="save current image" name="save-image"/>
            {{ saved_image_form.as_p }}
        </form>
        <div class="open-cv-container flex-child blurme" id="preview-{{preview_image.id}}" style=
        "background-image: url({{ preview_image.image_data_uri }});
         background-size: cover;">
            <img onload="hideUri('preview-{{preview_image.id}}', '/media/preview/small_temp.jpg')" class="hello hidden-image" src="{{ MEDIA_URL  }}{{ preview_image.small_image }}" / >
        </div>
            <form method='POST' class="flex-child">
                {% csrf_token %}

                <table>
                    <thead>
                        <td>edits:</td>
                    </thead>
                    <tr>
                        <td>{{preview_form.foreground_transparency.label }}</td></tr>
                    <tr>
                        <td>{{preview_form.foreground_transparency}}</td>
                    </tr>
                    <tr>
                    <td>{{preview_form.background_transparency.label }}</td></tr>
                    <tr>
                        <td>{{preview_form.background_transparency}}</td>
                    </tr>
                    <tr>
                        <td>{{preview_form.foreground_inverted.label }}</td>
                    </tr>
                    <tr>
                        <td>{{preview_form.foreground_inverted }}</td>
                    </tr>
                    <tr>
                        <td>{{preview_form.background_inverted.label }}</td>
                    </tr>
                    <tr>
                        <td>{{preview_form.background_inverted }}</td>
                    </tr>
                </table>

                <input class="button" type="submit" value="update preview image" name="color-values"/>
            </form>
        </div>

        <div class="sub-container flex-child">
       <h1 id="selfies">Choose the mirror selfie:</h1>
        {% if selfie_images %}
        <form  method="post" class="img-group-container">
            {% csrf_token %}
            {% for selfie_image in selfie_images %}
            <label class="img-select" for='selfie-{{ selfie_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ selfie_image.thumbnail }});">
                <input type="submit" value="{{ selfie_image.id }}" name="selfie-selection"/>
            </label>
            {% endfor %}
            </form>
        {% else %}
        <p>please go <a href="{% url 'image_library' %}">upload some images.</a></p>
        {% endif %}
    </div>
    <div class="sub-container flex-child">
       <h1>Texture images</h1>
       <h2 id="foreground">Choose the moon foreground:</h2>
        {% if texture_images %}
            <form method="post" class="img-group-container" name="foreground">
            {% csrf_token %}
            <label class="img-select" for='foreground-{{ blank_texture_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ blank_texture_image.thumbnail }});">
                <input type="submit" value="{{ blank_texture_image.id }}" name="foreground-selection"/>
            </label>
            {% for texture_image in texture_images %}
                <label class="img-select" for='foreground-{{ texture_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ texture_image.thumbnail }});">
                <input type="submit" value="{{ texture_image.id }}" name="foreground-selection"/>
            </label>
            {% endfor %}
            </form>
        {% else %}
        <p>please go <a href="{% url 'image_library' %}">upload some images.</a></p>
        {% endif %}

        <h2 id="background">Choose the background:</h2>
        {% if texture_images %}
            <form method="post" class="img-group-container" name="texture">
            {% csrf_token %}
            <label class="img-select" for='foreground-{{ blank_texture_image.id }}'
                style="background-image: url({{ MEDIA_URL }}{{ blank_texture_image.thumbnail }});">
                    <input type="submit" value="{{ blank_texture_image.id }}" name="foreground-selection"/>
            </label>
            {% for texture_image in texture_images %}
            <label class="img-select" for='texture-{{ texture_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ texture_image.thumbnail }});">
                <input type="submit" value="{{ texture_image.id }}" name="background-selection"/>
            </label>
            {% endfor %}
            </form>
        {% else %}
        <p>please go <a href="{% url 'image_library' %}">upload some images.</a></p>
        {% endif %}
        </div>
        <div class="sub-container flex-child">
        <h1 id="moon">Choose the moon phase template:</h1>
        {% if moon_images %}
            <form method="post" class="img-group-container">
            {% csrf_token %}
            {% for moon_image in moon_images %}
            <label class="img-select" for='moon-{{ moon_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ moon_image.thumbnail}});">
                <input type="submit" value="{{ moon_image.id }}" name="moon-selection"/>
            </label>
            <span>{{ moon_image.percent_illuminated }}% {{ moon_image.moon_state }}</span>
            {% endfor %}
            </form>
        {% else %}
            <p>please go <a href="{% url 'image_library' %}">upload some images.</a></p>
        {% endif %}
    </div>


    </div>
{% endblock %}
