{% extends 'base.html' %}
{% block content %}
<div class="info-page">
    <h1>contributing photos</h1>
    <p>If you'd like to submit a mirror selfie, you've got two options:</p>
    <ol>
        <li>Tag me (@mun_phases) in your photo on instagram (this is the easiest for me) or</li>
        <li>Send me the image by direct message</li>
    </ol>
    <p>Some notes:</p>
    <ul>
    <li>Your photo needs to include a reflection of you and your phone/camera in a mirror-like surface. The more interesting the mirror, the more fun for me. I've noticed that mirror selfies where the subject is off-center can sometimes make for more interesting moon collages.</li>
    <li>I probably won't know when your photo will be included ahead of time -- you might see it in a couple days, or a couple of months.</li>
    <li>If you have non-selfie images you'd like to contribute, I would love to see them. Send them to me via dm, or tag me in the photo (again, this way is easier for me), and let me know whether you're contributing them for me to use with any collage, or if they're just for use with your mirror selfie.</li>
    </ul>
    <h1>contributing captions or other ideas</h1>
    <p>If you have ideas on how to improve the project, please send me a dm! If you'd like to be involved on a regular basis, let's talk.</p>
    <h1>support</h1>
    <p>I spend around $2 a month hosting this site and around 5 hours a week working on content. If you'd like, you can <a href="https://www.patreon.com/sadieparker">click here to support this project on patreon</a>. You can also take a look at the products listed below; I get a percentage of commission through Amazon if you're in the U.S. and you purchase any of these via the below links.</p>

<span class="product">
<a target="_blank"  href="https://www.amazon.com/gp/product/1452172714/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1452172714&linkCode=as2&tag=sadieparker-20&linkId=c485f590be674e5834579f69782a4be9"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1452172714&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sadieparker-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=1452172714" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a target="_blank" href="https://www.amazon.com/gp/product/1452172714/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1452172714&linkCode=as2&tag=sadieparker-20&linkId=64df86ab00ef5acd17300b4b59900e45">The Moon Journal: A journey of self-reflection through the astrological year</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=1452172714" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<p>I haven't used this, but I've heard good things! Planning on checking it out sometime soon:)</p>
</span>

<span class="product">
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=sadieparker-20&marketplace=amazon&region=US&placement=1620105292&asins=1620105292&linkId=ac7d9936038c75d078f2814d06bf413f&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    </span>

<span class="product">
    <a target="_blank"  href="https://www.amazon.com/gp/product/1620104415/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1620104415&linkCode=as2&tag=sadieparker-20&linkId=f62fd71c52f4faabb23f3365ed3310a2"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1620104415&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sadieparker-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=1620104415" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a target="_blank" href="https://www.amazon.com/gp/product/1620104415/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1620104415&linkCode=as2&tag=sadieparker-20&linkId=431a75270b92342e738033928a1a7242">The Tea Dragon Society</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=1620104415" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>I bought this book for my niece this year, and loved reading it myself. Katie O'Neill (the author) has it online in webcomic form for free, too.</p>
    </span>

<span class="product">
<a target="_blank"  href="https://www.amazon.com/gp/product/B07D98Z4WQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07D98Z4WQ&linkCode=as2&tag=sadieparker-20&linkId=4282ae24071924e6f23f620b5f45290e"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07D98Z4WQ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sadieparker-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=B07D98Z4WQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a target="_blank" href="https://www.amazon.com/gp/product/B07D98Z4WQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07D98Z4WQ&linkCode=as2&tag=sadieparker-20&linkId=81864622df0e19f0ffa675ae5fefe0e6">Celestial Products Moon Calendar 2019 Lunar Phases, Moonlight</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=B07D98Z4WQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</span>

<span class="product">
<a target="_blank"  href="https://www.amazon.com/gp/product/B07H2PKTS5/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H2PKTS5&linkCode=as2&tag=sadieparker-20&linkId=be7756c9e67774b3c7185edd5056a227"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07H2PKTS5&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sadieparker-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=B07H2PKTS5" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<a target="_blank" href="https://www.amazon.com/gp/product/B07H2PKTS5/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07H2PKTS5&linkCode=as2&tag=sadieparker-20&linkId=df48a292eadb09f2448839ae482d3a32">Celestial Products Lunar Calendar 2019, Moons, Blooms</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=B07H2PKTS5" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

</span>

<span class="product">
<a target="_blank"  href="https://www.amazon.com/gp/product/B00SW61CEW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00SW61CEW&linkCode=as2&tag=sadieparker-20&linkId=2d6dbb13f1f7751a157c9f5144670e06"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00SW61CEW&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sadieparker-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=B00SW61CEW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />


    <a target="_blank" href="https://www.amazon.com/gp/product/B00SW61CEW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00SW61CEW&linkCode=as2&tag=sadieparker-20&linkId=849e08a996c166b51cca7fbcc4905006">Blossom Menstrual Cup (Small, Pink)</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sadieparker-20&l=am2&o=1&a=B00SW61CEW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</span>

</div>




{% endblock %}
