{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

    {% if selected_image %}

        <form action="{% url 'post_to_instagram' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="post to instagram now" name="instagram-post" />
        </form>

        <div class="open-cv-container" style=
             "background-image: url({{ MEDIA_URL  }}{{ selected_image.image }});
             background-size: cover;"></div>

        <a class="button" href="{{ MEDIA_URL  }}{{ selected_image.image }}" download>download</a>

        <p>{{ selected_image.first_emoji }} {{ selected_image.moon_state_description }} {{ selected_image.second_emoji }}</p>
        <p>📷: {{ selected_image.selfie_username }}</p>
        <p> {{ selected_image.foreground_description  }} as moon foreground</p>
        <p> {{ selected_image.background_description  }} behind</p>

        <form action="{% url 'update_caption' pk=selected_image.id %}" method="post">
            {% csrf_token %}
            {{ caption_form.as_p }}
            <input type="submit" value="Update Caption Info" />
        </form>


    {% endif %}
        {% if collages %}
       <h2>Here are your saved images:</h2>
            <form method="GET" class="img-group-container" name="texture">
            {% for collage in collages %}
                <label class="img-select" for='saved-{{ collage.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ collage.thumbnail }});">
                <input type="submit" value="{{ collage.id }}" name="image-selection"/>
            </label>
            {% endfor %}
            </form>
        {% else %}
        <p>please go to <a href="{% url 'edit_image' %}">this page</a> to create a new image. Currently none here!</p>
        {% endif %}
{% endblock %}
