{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>upload</h1>
<div class="container">
    <div class="sub-container">
<p> upload the following layers to use in your collage. after uploading, go to <a href="/edit">edit</a> to make a new collage.</p>
<div class="container flex-parent-nowrap">
        <a class="button" href="#textures">textures</a>
        <a class="button" href="#selfies">selfies</a>
        <a class="button" href="#moon">moon</a>
</div>
</div>
<div class="container flex-parent">
    <div id="textures" class="sub-container flex-child">
        <h1>textures</h1>
            <form method="post" enctype="multipart/form-data" class="full-width">
            {% csrf_token %}
                <table>
                    <thead>
                        <td>select image one of these ways:</td>
                        <td>*optional info: </td>
                    </thead>
                    <tr>
                        <td>{{texture_upload_form.instagram_post_url.label }}</td>
                        <td>{{texture_upload_form.hashtags.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ texture_upload_form.instagram_post_url }}</td>
                        <td>{{texture_upload_form.hashtags }}</td>
                    </tr>

                    <tr>
                        <td>{{texture_upload_form.source_url.label }}</td>
                        <td>{{texture_upload_form.username.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ texture_upload_form.source_url }}</td>
                        <td>{{texture_upload_form.username }}</td>
                    </tr>
                    <tr>

                        <td>{{texture_upload_form.image.label }}</td>
                        <td>{{texture_upload_form.description.label }}</td>
                        </tr>
                        <tr>
                        <td>{{ texture_upload_form.image }}</td>
                        <td>{{ texture_upload_form.description }}</td>
                    </tr>
                </table>

                <input class="button" type="submit" value="Upload" name="texture-upload" >
              <br>
          </form>

        {% if texture_images %}
        <h2>Edit existing texture images</h2>
            {% for texture_image in texture_images %}
            <form method="post" action="{% url 'image' pk=texture_image.id %}">
                {% csrf_token %}
                <label class="img-select" for='foreground-{{ texture_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ texture_image.thumbnail }});">
                <input type="submit" value="{{ texture_image.id }}"/>
            </label>
            </form>
            {% endfor %}
        {% endif %}
    </div>

    <div id="selfies" class="sub-container flex-child">
        <h1>mirror selfies</h1>
        <form method="post" enctype="multipart/form-data" class="full-width">
            {% csrf_token %}
                <table>
                    <thead>
                        <td>select image one of these ways:</td>
                        <td>*optional info: </td>
                    </thead>
                    <tr>
                        <td>{{selfie_upload_form.instagram_post_url.label }}</td>
                        <td>{{selfie_upload_form.hashtags.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ selfie_upload_form.instagram_post_url }}</td>
                        <td>{{selfie_upload_form.hashtags }}</td>
                    </tr>

                    <tr>
                        <td>{{selfie_upload_form.source_url.label }}</td>
                        <td>{{selfie_upload_form.username.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ selfie_upload_form.source_url }}</td>
                        <td>{{selfie_upload_form.username }}</td>
                    </tr>
                    <tr>

                        <td>{{selfie_upload_form.image.label }}</td>
                        </tr>
                        <tr>
                        <td>{{ selfie_upload_form.image }}</td>
                    </tr>
                </table>

                <input class="button" type="submit" value="Upload" name="selfie-upload">
              <br>
          </form>

        {% if selfie_images %}
        <h2>Edit existing selfies</h2>
            {% for selfie_image in selfie_images %}
            <form method="post" action="{% url 'image' pk=selfie_image.id %}">
                {% csrf_token %}
            <label class="img-select" for='selfie-{{ selfie_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ selfie_image.thumbnail }});">
                <input type="submit" value="{{ selfie_image.id }}"/>
            </label>
            </form>
            {% endfor %}
        {% endif %}
    </div>

    <div id="moon" class="sub-container flex-child">
        <h1>moon phase templates</h1>
        <form method="post" enctype="multipart/form-data" class="full-width">
            {% csrf_token %}

                <table>
                    <thead>
                        <td>select template:</td>
                        <td>extra info:</td>
                    </thead>
                    <tr>
                        <td>{{moon_upload_form.image.label }}</td>
                        <td>{{moon_upload_form.percent_illuminated.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ moon_upload_form.image }}</td>
                        <td>{{moon_upload_form.percent_illuminated }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{moon_upload_form.moon_state.label }}</td>
                        </tr>
                        <tr>
                        <td></td>
                        <td>{{moon_upload_form.moon_state }}</td>
                    </tr>
                </table>

                <input class="button" type="submit" value="Upload" name="moon-upload">
              <br>
          </form>
        {% if moon_images %}
        <h2>Edit existing moon templates</h2>
            {% for moon_image in moon_images %}
            <form method="post" action="{% url 'image' pk=moon_image.pk %}">
                {% csrf_token %}
            <label class="img-select" for='moon-{{ moon_image.id }}' style=
                      "background-image: url({{ MEDIA_URL }}{{ moon_image.thumbnail}});">
                <input type="submit" value="{{ moon_image.id }}"/>
            </label>
            </form>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
